.swal-form {
  padding-top: 3%;
  overflow: auto;
  height: 300px;
}

.swal-form input.nice-input  {
  display: block;
  margin: 0;
  width: 96%;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  height: initial;
}
.swal-form input.nice-input:focus,
.swal-form input.nice-input.focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.swal-form .patch-swal-styles-for-inputs {
  width: initial !important;
  height: initial !important;
  display: initial !important;
}
